services:
    web:
        build: .
        labels:
          - "traefik.enable=true"
          - "traefik.http.routers.site_algo.rule=Host(`radio.lebbadi.fr`)"
          - "com.centurylinklabs.watchtower.enable=false"
        restart: always
        networks:
          - traefik

networks:
    traefik:
        external: true
